@import "tailwindcss";

@theme {
  --color-background: #121412;
  --color-foreground: #ffffff;
}

body {
  background-color: #121412;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}