@import "tailwindcss";

:root {
  --background: #14381e;
  --foreground: #ffffff;
}

/* Background hijau khas logo Sejedewe dengan gradasi smooth */
body {
  background: radial-gradient(circle at 50% 0%, #1e522d 0%, #12331c 50%, #0a1c0f 100%) !important;
  background-attachment: fixed !important;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}